.App {
  text-align: center;
  background-image: url('./smurfBackgroundOne.jpg');
  margin: 0 auto;
  max-width: 1000px;
}

.homeBody{
  height: 800px;
  margin-left: 39%;
}

.mainPageSmurfLinks{
  display: flex;
  justify-content: space-around;
}

img{
  margin-top: 5%;
}