.SmurfForm{
    height: 800px;
}

form{
    width: 500px;
    margin-top: 3%;
}

input{
    width: 100%;
    margin-left: 10%;
    padding-left: 1%;
    font-size: 18px;
    font-family: cursive
}

.addFormButton{
    margin-left: 15%;
    margin-top: 3%;
    font-size: 18px;
    padding: 2%;
    border: 1px solid blue;
    border-radius: 3%;
}

.formSmurf{
    margin-right: 4%;
}